
<table class="table table-striped table-sm table-dark">

  <caption>{{title}}</caption>

  <thead>
    <tr>

      <th class="">Name</th>
      <th>Last Name</th>
      <th>Fiscal Code</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Province</th>
      <th>Age</th>
      <th>Actions</th>

    </tr>
  </thead>

  <tbody>

    <!-- {{users | json}} -->
    <tr app-user *ngFor="let user of users" [user] = 'user'
      (onDeleteUsers)="onDeleteUsers2($event)"
      (onSelectUser) ="onSelectUser2($event)">
    </tr>

  </tbody>



</table>
